<%- include("partials/header") -%>

<h1>About</h1>
<img src="images/profile.png" alt="" style="width: 200px; border-radius: 360px;">
<h3><%= startingContent %> </h3>
<h3>To reach out to me, visit the contact me page.<h3>
<%- include("partials/footer") -%>