<%- include("partials/header") -%>

<h1>Contact</h1>
<h3><%= startingContent %> </h3>
<h3><a href="https://www.linkedin.com/in/harshmathurx/">LinkedIn</a></h3>
<h3><a href="https://github.com/harshmathurx">GitHub</a></h3>
<h3><a href="mailto:harshmathurx@gmail.com">Email</a>: harshmathurx@gmail.com</h3>
<%- include("partials/footer") -%>